<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xzxx.decorate.o2o.consumer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE."/>

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="59640a9310f3766d3c4d3bc8273d4ab8"/>

        <service android:name="com.amap.api.location.APSService"></service>

        <!--主页面-->
        <activity android:name=".MainActivity">

            <!--<intent-filter>-->

                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->

            <!--</intent-filter>-->

        </activity>

        <!--选择服务城市-->
        <activity android:name="com.xzxx.decorate.o2o.ui.SelectCityActivity">
        </activity>

        <!--选择服务城市并显示定位地点-->
        <activity android:name="com.xzxx.decorate.o2o.ui.SelectCityAddressActivity">
        </activity>

        <!--添加地址-->
        <activity android:name="com.xzxx.decorate.o2o.ui.AddAddressActivity">
        </activity>

        <!--我的地址-->
        <activity android:name="com.xzxx.decorate.o2o.ui.PersonalAddressActivity">
        </activity>

        <!--发布订单-->
        <activity android:name="com.xzxx.decorate.o2o.ui.ReleaseOrderActivity">
        </activity>

        <!--等待服务-->
        <activity android:name="com.xzxx.decorate.o2o.ui.WaitServiceActivity">
        </activity>

        <!--个人资料-->
        <activity android:name="com.xzxx.decorate.o2o.ui.PersonalInfoActivity">
        </activity>

        <!--设置-->
        <activity android:name="com.xzxx.decorate.o2o.ui.SettingActivity">
        </activity>

        <!--登陆-->
        <activity android:name="com.xzxx.decorate.o2o.ui.LoginActivity">
            <!--<intent-filter>-->

                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->

            <!--</intent-filter>-->
        </activity>

        <!--新用户注册-->
        <activity android:name="com.xzxx.decorate.o2o.ui.RegisterActivity">
        </activity>

        <!--设置登陆密码-->
        <activity android:name="com.xzxx.decorate.o2o.ui.SettingLoginPasswodActivity">
        </activity>

        <!--忘记密码-->
        <activity android:name="com.xzxx.decorate.o2o.ui.ForgetPasswordActivity">
        </activity>

        <!--更换手机号-->
        <activity android:name="com.xzxx.decorate.o2o.ui.ChangeMobieActivity">
        </activity>

        <!--新号码验证-->
        <activity android:name="com.xzxx.decorate.o2o.ui.NewMobileActivity">
        </activity>

        <!--订单详情-->
        <activity android:name="com.xzxx.decorate.o2o.ui.OrderDetail">

        </activity>

        <!--服务评价-->
        <activity android:name="com.xzxx.decorate.o2o.ui.ServiceEvaluation">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

    </application>

</manifest>